
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

header {
    text-align: center;
    background: #1e293b;
    color: white;
    padding: 40px 20px;
}

.tagline {
    font-weight: 300;
}


nav {
    background: #0f172a;
}

nav ul {
    display: flex;
    justify-content:center;
    list-style: none;
    margin: 0;
    padding: 15px;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}

.projects-grid {
    display: grid;
    gap: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.project-card a {
    color: #1e293b;
    font-weight: 600;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #1e293b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #334155;
}

footer {
    text-align: center;
    background: #0f172a;
    color: white;
    padding: 20px;
}

#hobbyInput{
    margin-top: 15px;
    width: 70%;
}


#hobbyList button{
    margin-left: 10px;
    padding: 5px 8px;
    font-size: 12px;
    background: #ef4444;
}

#hobbyList button:hover{
    background: #dc2626;
}

#dateTime{
    margin-top: 10px;
    font-size: 14px;
    color: #cbd5f5;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}